@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Permanent+Marker&display=swap');

/*------------------------------------general site decoration*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100%;
}

body p {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h4,
h7,
button {
    font-family: "Montserrat", sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

footer {
    font-family: "Montserrat", sans-serif;
}

/*------------------------------------colors */

.logo-name {
    color: #fafafa;
}

.nav-button li a {
    color: rgb(255, 0, 64);
}

.socials li a i {
    color: rgb(255, 0, 64);
}

li,
a {
    color: #fafafa;
    text-decoration: none;
}

/*-------------------------------------header properties*/

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(192, 1, 42), rgb(255, 70, 70));
    background-size: cover;
    align-items: center;
}

/*-------------------------------------logo/branding*/

.logo-name {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2em;
    font-weight: 700;
    text-shadow: 2px 2px black;
    cursor: pointer;
    margin-left: 5px;
}

.logo-name hr {
    border-top: 1px solid rgba(0, 0, 0, 0.815);
    background-color: rgba(0, 0, 0, 0.705);
}

/*-----------------------------------nav list*/

nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

nav ul {
    margin-right: 10px;
}

nav ul li {
    display: inline-flex;
    font-size: 0.5em;
    background: #fafafa;
    border: 10px solid #fafafa;
    border-radius: 21px 61px 35px 23px;
    margin-top: 10px;
}

/*-------------------------------------social buttons*/

.socials {
    position: relative;
    padding-right: 15px;
}

.socials-pos {
    position: relative;
    margin-top: 27px;

}

.socials li {
    display: inline-block;

}

.socials li a {
    font-size: 20px;
    padding: 5px 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 1px 1px black;
}

/*-------------------------------------------------------------main*/
.fresh {
    width: 80px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.658);
    margin-left: 65px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 38px 37px 31px 11px;
}

.fresh p {
    color: #fafafa;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
}

.hero-image {
    position: relative;
    text-align: center;
    margin-top: 5px;
}

.hero-image img {
    width: 100%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.801);
    border-radius: 30px 3px 30px 3px;
}

.main-article {
    width: 65%;
    justify-content: left;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}

/*-----------------------------------------------------------suggested*/
.suggested {
    justify-content: right;
    width: 35%;
    border-left: 10px solid rgba(0, 0, 0, 0.856);
    border-radius: 15px 1px 1px 15px;
    margin: 5px 0;
    text-align: center;
}

.sgst-thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

.sgst-thumbs p {
    margin-left: 15px;
    font-size: 1.2em;
}

.thumb-outside-text {
    width: 206px;
}

.thumb1 {
    height: 200px;
    width: 200px;
    background-position: top;
    border: 3px solid black;
    margin: 5px;
    cursor: pointer;
    border-radius: 30px 3px 30px 3px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.801);
}

#thumb1-pic {
    background-image: url(/assets/images/uncharted.jpg);
}

.thumb2 {
    height: 200px;
    width: 200px;
    background-position: top;
    border: 3px solid black;
    margin: 5px;
    cursor: pointer;
    border-radius: 30px 3px 30px 3px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.801);
}

#thumb2-pic {
    background-image: url(/assets/images/chief.jpg);
}

.suggested hr {
    width: 85%;
    border-top: 3px dashed rgba(0, 0, 0, 0.822);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.hot-take {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------------------footer*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.76);
    height: 5vh;
}

.footer-logo {
    font-size: 0.6em;
    display: inline-block;
    cursor: pointer;
}

.bottomlinks {
    display: inline-block;
}

.bottomlinks a {
    padding-right: 5px;
}

.socials-footer {
    display: inline-block;

}

.socials-footer li {
    display: inline-block;
    padding-right: 10px;
    padding-top: 2px;
}

/*-----------------------------------media queries*/
@media screen and (min-width: 770px) {
    .sgst-thumbs .thumb-inside-text {
        display: none;
    }

    .more-btn {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .socials {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header {
        width: cover;
        height: 12vh;
    }

    .logo-name {
        font-size: 1.2em;
    }

    .fresh {
        width: 50px;
        height: 15px;
        background-color: rgba(0, 0, 0, 0.658);
        margin-left: 0.5em;

    }

    .fresh p {
        color: #fafafa;
        font-size: 0.9em;
        text-align: center;
    }

    h1 {
        font-size: 1.5em;
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-size: 1em;
        width: 100%;
    }

    .main-article {
        width: 100%;
        margin: 0;
        text-align: left;
    }

    .hero-image img {
        width: 100%;
        border-radius: 0;
        margin: 0;
        box-shadow: 0px 3px rgb(0 0 0 / 80%);
    }

    #flav-text {
        margin-left: 5px;
    }

    .suggested {
        width: 100%;
        border-top: 3px solid rgba(0, 0, 0, 0.726);
        border-radius: 0;
        border-left: none;
        padding-top: 10px;
        text-align: center;
        margin-right: 10px;
    }

    h2 {
        font-size: 1.2em;
    }

    .sgst-thumbs {
        height: 340px;
        margin: 0;
        flex-wrap: nowrap;
        height: auto;
    }

    .sgst-thumbs span {
        color: #000000;
        background-color: rgba(255, 255, 255, 0.856);
        text-align: left;
        float: left;
        box-shadow: 2px 2px rgb(36, 35, 35);
        margin-right: 65%;
        border-radius: 5px 10px;
    }

    .sgst-thumbs p {
        margin-left: 5px;
        font-size: 1.2em;
    }

    .sgst-thumbs .thumb-outside-text {
        display: none;
    }

    .thumb1,
    .thumb2 {
        height: 120px;
        padding-top: 20px;
        box-shadow: 0px 3px rgb(0 0 0 / 80%);
        margin-left: 5px;
    }
    .thumb1 {
        width: 40vw;
    }
    .thumb2 {
        width: 40vw;
    }
    
    .more-btn {
        display: none;
    }
    .footer-logo {
        font-size: 0.8em;
    }
}

/*---------------------------------------------------------phone*/
@media screen and (max-width: 426px) {

    header {
        width: cover;
        height: 8vh;
    }

    .logo-name {
        font-size: 1em;
    }

    .nav-button {
        display: none;
    }

    .fresh {
        width: 50px;
        height: 15px;
        background-color: rgba(0, 0, 0, 0.658);
        margin-left: 0.5em;

    }

    .fresh p {
        color: #fafafa;
        font-size: 0.9em;
        text-align: center;
    }

    h1 {
        font-size: 1.5em;
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-size: 1em;
        width: 100%;
    }

    .main-article {
        width: 100%;
        margin: 0;
        text-align: left;
    }

    .hero-image img {
        width: 100%;
        border-radius: 0;
        margin: 0;
        box-shadow: 0px 3px rgb(0 0 0 / 80%);
    }

    #flav-text {
        margin-left: 5px;
    }

    #flav-text p {
        display: none;
    }

    .suggested {
        width: 100%;
        border-top: 3px solid rgba(0, 0, 0, 0.726);
        border-radius: 0;
        border-left: none;
        padding-top: 10px;
        text-align: center;
    }

    h2 {
        font-size: 1.2em;
    }

    .sgst-thumbs {
        height: 340px;
        margin: 0;
        display: inherit;
    }

    .sgst-thumbs span {
        color: #000000;
        background-color: rgba(255, 255, 255, 0.856);
        text-align: left;
        float: left;
        box-shadow: 2px 2px rgb(36, 35, 35);
        margin-right: 65%;
        border-radius: 5px 10px;
    }

    .sgst-thumbs p {
        margin-left: 5px;
        font-size: 1.2em;
    }

    .sgst-thumbs .thumb-outside-text {
        display: none;
    }

    .thumb1,
    .thumb2 {
        width: 95%;
        height: 120px;
        display: inline-block;
        padding-top: 20px;
        box-shadow: 0px 3px rgb(0 0 0 / 80%);
        margin-left: 5px;
    }

    .more-btn{
        background-color: rgba(0, 0, 0, 0.658);
        color: #fafafa;
        font-size: 15px;
        width: 100%;
    }

    .more-btn:active {
        background-color: #000000e1;
        box-shadow: 0 2px #666;
        transform: translateY(1px);
    }

    .bottomlinks a {
        font-size: 0.6em;
        padding-right: 10px;
    }

    .footer-logo {
        font-size: 1em;
    }
}